.header {
  width: 100vw;
  height: 120px;
  position: fixed;
  top: 30px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5rem 2rem;

  z-index: 2;
  box-sizing: border-box;
}

.header .hamberger {
  width: 105px;
  height: 102px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .more-link {
  display: flex;
}

.header .button {
  width: 108px;
  height: 103px;

  padding: 0.5rem;
  box-sizing: border-box;
}
