.header {
    width: 100vw;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border: 1px solid black;

    box-sizing: border-box;
}

.header .hamberger {
    width: 105px;
    height: 102px;
    border: 1px solid black;
}

.header .more-link {
    display: flex;

    border: 1px solid black;
}

.header .more-link .button {
    width: 108px;
    height: 103px;
    border: 1px solid black;
}
